---
layout: default
---

{% comment %}Hack to convert serial to string{% endcomment %}
{% capture serial %}{{page.serial | escape}}{% endcapture %}
{% capture name %}{{site.data.roster_normalized[serial].Name | escape}}{% endcapture %}
{% assign compensations = site.data.compensation_normalized | where: "Name", name %}
{% assign allegations = site.data.allegations_normalized | where: "ID #", serial %}
{% assign use_of_force = site.data.use_of_force_normalized | where: "ID #", serial %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
        {{ site.data.roster_normalized[serial].OrigName | escape }}
    </h1>
  </header>

  <h2>Basic Information (May 2020)</h2>
  <table>
    <tr>
      <td><b>Serial</b></td>
      <td>{{serial}}</td>
    </tr>
    <tr>
      <td><b>Job Title</b></td>
      <td>{{ site.data.roster_normalized[serial].Title_Description | escape }}</td>
    </tr>
    <tr>
      <td><b>Unit</b></td>
      <td>{{ site.data.roster_normalized[serial].Unit | escape }} - {{site.data.roster_normalized[serial].Unit_Description | escape}}</td>
    </tr>
    <tr>
      <td><b>Employment Status</b></td>
      <td>{{ page.employment_status | escape }}</td>
    </tr>
    <tr>
      <td><b>Last Updated</b></td>
      <td>{{ page.last_updated | date: '%B %d, %Y' }}</td>
    </tr>
  </table>

  <h2>Compensation Data (2019)</h2>
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Base Pay</th>
        <th>Hourly Rate</th>
        <th>Overtime</th>
        <th>Gross Pay</th>
      </tr>
    </thead>
    <tbody>
    {% for compensation in compensations %}
      <tr>
        <td>{{compensation["Year"]}}</td>
        <td>{{compensation["Base Pay"]}}</td>
        <td>{{compensation["Hourly Rate"]}}</td>
        <td>{{compensation["Overtime"]}}</td>
        <td>{{compensation["Gross Pay"]}}</td>
      </tr>
    {% endfor %}
    {% if compensations.size == 0 %}
      <tr>
        <td colspan="5"><em>No compensation found.</em></td>
      </tr>
    {% endif %}
    </tbody>
  </table>
 
  <h2>OPA Allegations</h2>
  <table>
    <thead>
      <tr>
        <th>OPA #</th>
        <th>Occurred Date</th>
        <th>Incident Type</th>
        <th>Allegation</th>
        <th>Finding</th>
        <th>Finding Date</th>
        <th>Action Taken</th>
      </tr>
    </thead>
    <tbody>
    {% for allegation in allegations %}
      {% assign opa_id = allegation["OPA #"] | replace: "OPA", "" %}
      <tr>
        <td>
            {% if site.data.opa_ccs contains opa_id %}
            <a href="{{site.data.opa_ccs[opa_id]}}">
            {% endif %}
                {{ allegation["OPA #"] }}
            {% if site.data.opa_ccs contains opa_id %}
            </a>
            {% endif %}
        </td>
        <td>{{allegation["Occurred date"]}}</td>
        <td>{{allegation["Incident type"]}}</td>
        <td>{{allegation["Allegation"]}}</td>
        <td>{{allegation["Finding"]}}</td>
        <td>{{allegation["Finding date"]}}</td>
        <td>{{allegation["Action taken"]}}</td>
      </tr>
    {% endfor %}
    {% if allegations.size == 0 %}
      <tr>
        <td colspan="6"><em>No allegations found.</em></td>
      </tr>
    {% endif %}
    </tbody>
  </table>

  <h2>Use of Force Incidents</h2>
  <table>
    <thead>
      <tr>
        <th>Record</th>
        <th>Incident Type</th>
        <th>Date of Occurance</th>
        <th>Victim Race</th>
        <th>Victim Gender</th>
      </tr>
    </thead>
    <tbody>
    {% for uof in use_of_force %}
      <tr>
        <td>{{uof["Record"]}}</td>
        <td>{{uof["Incident_type"]}}</td>
        <td>{{uof["Occurred date"]}}</td>
        <td>{{uof["Victim Race"]}}</td>
        <td>{{uof["Victim Gender"]}}</td>
      </tr>
    {% endfor %}
    {% if uof.size == 0 %}
      <tr>
        <td colspan="6"><em>No use of force records found.</em></td>
      </tr>
    {% endif %}
    </tbody>
  </table>

  <h2>Writeups</h2>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% assign no_posts = true %}
  {% for post in site.posts %}
    {% if post.badge contains page.serial %}
      {% assign no_posts = false %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{post.title | escape}}
        </a>
      </h3>
      {{post.content}}
    {% endif %}
  {% endfor %}
  {% if no_posts %}
    No writeups for this officer yet.
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
